@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

body,
.p-component {
  font-family: 'Outfit', sans-serif !important;
  letter-spacing: -0.4px;
}

header .header-container {
  background: var(--black_color);
  color: var(--white_color)
}

.header-container .logotipo img {
  margin-top: 0.3em;
  max-width: 11vw;
  width: 5em;
  margin-left: 2em;
}

header .p-menubar {
  font-size: 1em;
  font-weight: bold;
}

header .p-menubar .p-submenu-list {
  font-size: 0.8em
}

header .login-register .p-button {
  color: var(--white_color);
  background: transparent;
  border: 0;
  font-size: 1.2em;
  border-radius: 50%;
}

header .login-register .p-button:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
  color: var(--white_color);
  background: transparent;
  border: 0;
}

header .login-register .p-button-label {
  display: none;
}

header .login-register .p-button-icon {
  font-size: 1.3em;
}

.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link,
.p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-text {
  color: var(--white_color);
}

.footer-container {
  background: var(--black_color);
}

.content-layout main {
  padding: 0;
}

.content-layout #content-qube {
  padding: var(--padding_contenedor_vertical, 1.5vh) var(--padding_contenedor_horizontal, 5vw);
}

.home-config {
  background: url("https://cdn.qub3.com/rWIMU7wjeSEwwNbOIOhuvMLzOld_VDdlcrxoiVsLk2Y/rs:fill:1920:1080/sh:0.5/aHR0cHM6Ly9iZXFi/ZS1pbWFnZXMuczMu/ZnItcGFyLnNjdy5j/bG91ZC83N2RjOTE0/MS01NzZkLTQ3N2It/OThjZC0xYjAzODY0/OGVkYWNfd2ViX2Fy/dHBwbGlfMzAwMHgx/NTAwMC5qcGc") 50% -25em no-repeat #e8e2de;
  background-size: contain;
  position: relative;
  padding-top: 5em;
  padding-bottom: 5em;
}

.home-config H1 {
  margin-top: 0;
  position: absolute;
  left: calc(50% - 2.5em);
  top: 2em;
  width: 5em;
  font-size: 4em;
  text-align: center;
}

.home-config .search-form {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
  width: 30%;
  background: var(--secondary_color);
  border: 5px solid var(--white_color);
  border-radius: 1em;
  margin: 3em auto 0 auto;
  padding: 5em 2em 2em 2em;
}

.home-config .search-form .search-form-description {
  font-size: 0.8em;
}

.home-config .search-form form.form-container .form-group {
  justify-content: center
}

.home-config .search-form form.form-container label {
  display: none;
}

.home-config .search-form form.form-container input {
  width: 100%;
  border: 3px solid var(--black_color);
  border-radius: 1.5em;
}

.home-config .search-form form.form-container button {
  text-transform: uppercase;
  background: var(--black_color);
  color: var(--white_color);
  border-radius: 3em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.3em;
  opacity: 1;
  border: var(--black_color)
}

.home-config .layout-cols {
  margin: 2em 4vw 0em 4vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.home-config .layout-cols .col-20 {
  width: 20%;
}

.home-config .layout-cols .col-60 {
  width: 60%;
}

.home-config .layout-cols .layout-options-col1 {
  background: var(--white_color);
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}

.home-config .layout-cols .layout-options-col2 {}

.home-config .layout-cols .layout-options-col2 .layout-options-col1 {
  background: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.home-config .layout-cols .layout-options-col3 {
  background: var(--white_color);
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}

.home-config .column-data-profile-content {}

.home-config .column-data-profile-content .profile-thumbnail {
  text-align: center;
  width: 5em;
  height: 5em;
  margin: 0 auto;
  margin-top: -3.5em;
}

.home-config .column-data-profile-content .profile-thumbnail img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  padding: 0.15em;
  border: 4px solid var(--black_color);
  object-fit: cover;
}

.home-config .column-data-profile-content .profile-name {
  margin: 0 auto;
}

.home-config .column-data-profile-content .profile-name P {
  margin: 0 auto;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.home-config .column-data-profile-content .profile-category {
  margin: 0 auto;
  border-bottom: 1px solid #e8e2de;
}

.home-config .column-data-profile-content .profile-category P {
  margin: 0 auto 0 auto;
  padding-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: #e8e2de;
}

.home-config .column-data-profile-content .profile-profile-views,
.home-config .column-data-profile-content .profile-post-views,
.home-config .column-data-profile-content .profile-artwork-views,
.home-config .column-data-profile-content .profile-followers,
.home-config .column-data-profile-content .profile-show {
  border-bottom: 1px solid #e8e2de;
}

.home-config .column-data-profile-content .profile-profile-views P,
.home-config .column-data-profile-content .profile-post-views P,
.home-config .column-data-profile-content .profile-artwork-views P,
.home-config .column-data-profile-content .profile-followers P,
.home-config .column-data-profile-content .profile-show P {
  padding: 0;
  margin: 0;
  font-size: 1em;
  color: #e8e2de;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.home-config .column-data-profile-content .profile-profile-views P .value,
.home-config .column-data-profile-content .profile-post-views P .value,
.home-config .column-data-profile-content .profile-artwork-views P .value,
.home-config .column-data-profile-content .profile-followers P .value,
.home-config .column-data-profile-content .profile-show P .value {
  font-size: 2.5em;
  font-weight: bold;
  color: var(--secondary_color);
}

.home-config .column-data-create-post-qube-content {
  background: var(--white_color);
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-config .column-data-create-post-qube-content label {
  display: none;
}

.home-config .column-data-create-post-qube-content input {
  border: 3px solid var(--black_color);
  border-radius: 1.5em;
  width: 23em;
}

.home-config .column-data-create-post-qube-content textarea {
  border: 3px solid var(--black_color);
  border-radius: 1.5em;
  width: auto;
  font-size: var(--font_size_base, calc(0.6em + 0.6vw));
  min-height: 43px;
}

.home-config .column-data-create-post-qube-content .button-group button,
.home-config .column-data-create-post-qube-content .button-group button.p-button {
  background: var(--black_color);
  border-color: var(--black_color);
  font-size: 1.2em;
  padding: 0.35em 1.3em;
  border-radius: 3em;
  margin-right: 0.3em;
}

.home-config .column-data-create-post-qube-content .button-group button.p-button.p-button-danger {
  background-color: #c02929;
  border-color: #c02929;
}

.home-config .column-data-create-post-qube-content form {
  display: inline-flex;
}

.home-config .column-data-create-post-qube-content .add-ingredient {
  align-items: center;
  justify-content: space-between;
}

.home-config .column-data-create-post-qube-content .add-ingredient a {
  margin: 0 0.5em;
}

.home-config .column-data-create-post-qube-content .add-ingredient a img {
  width: auto;
  height: 2em;
}


.home-config .column-data-story-content {

  margin: 1em;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.home-config .column-data-story-content .crete-story button {
  width: 5em;
  height: 5em;
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  position: relative;

}

.home-config .column-data-story-content .crete-story button span {
  position: absolute;
  top: calc(50% - 0.51em);
  left: calc(50% - 0.3em);
  font-size: 3em;
  font-weight: bold;
  color: var(--secondary_color);
}

.home-config .column-data-story-content .crete-story P {
  margin: 0;
  text-align: center;
}

.home-config .column-data-story-content .crete-story button IMG {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  padding: 0.15em;
  border: 5px solid var(--secondary_color);
  object-fit: cover;
}

.home-config .column-data-story-content UL {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
}

.home-config .column-data-story-content UL LI {
  margin: 0 0.5em 0 0.5em;
}

.home-config .column-data-story-content UL LI P {
  margin: 0;
  text-align: center;
}

.home-config .column-data-story-content UL LI IMG {
  width: 5em;
  height: 70%;
  border-radius: 50%;
  padding: 0.15em;
  border: 5px solid var(--secondary_color);
  object-fit: cover;
}

.home-config .column-data-qubes-content {
  margin: 1em;
}

.home-config .column-data-qubes-content .post-qube.card,
.home-config .column-data-qubes-content .card {
  background: var(--white_color);
  border-radius: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.home-config .column-data-qubes-content .card .card-header .card-create-user {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.home-config .column-data-qubes-content .card-list .card .card-header .card-create-user .card-user-image {
  max-width: 100%;
}

.home-config .column-data-qubes-content .card .card-header .card-create-user IMG {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  padding: 0.15em;
  border: 5px solid var(--secondary_color);
  object-fit: cover;
}

.home-config .column-data-qubes-content .card-list {
  display: block;
}

.home-config .column-data-qubes-content .card-list .card .card-img {
  height: 100%;
  min-height: 45vh;
  background-size: contain;
}

.home-config .column-data-qubes-content .card .card-body {
  width: 100%;
}

.home-config .column-data-qubes-content .card .card-body iframe {
  width: 100%;
  min-height: 45vh;
}

.home-config .column-data-qubes-content .card .card-body IMG {
  width: 100%;
}

.home-config .column-data-qubes-content .card .card-footer {
  width: 100%;
}

.home-config .column-data-qubes-content .card .card-footer a {
  background: var(--secondary_color);
  color: var(--white_color);
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.15em 1em;
  border-radius: 2em;
  float: right;
}

.home-config .column-data-qubes-content .card .card-body {
  font-size: 1.5em;
  font-weight: bold;
}

.home-config .column-data-qubes-content .post-qube.card .card-body {
  font-size: 1em;
  font-weight: bold;
}



.home-config .layout-options-col3 .layout-options-col1 {
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: none;
}

.home-config .layout-options-col3 .column-data-text-content h2 {
  margin: 0 0 1em 0;
  color: var(--black_color);
}

.home-config .layout-options-col3 .column-data-text-content h3 {
  margin: 0 0 1em 0;
  color: var(--secondary_color);
  text-transform: uppercase;
}

.home-config .layout-options-col3 .column-data-text-content P {
  margin: 0 0 1em 0;
}

.home-config .column-data-users-content {
  margin-bottom: 2em;
}

.home-config .column-data-users-content .content-user {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 1em 0;
}

.home-config .column-data-users-content .content-user P {
  margin: 0;
}

.home-config .column-data-users-content .user-thumbnail IMG {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  padding: 0.15em;
  border: 4px solid var(--black_color);
  margin-right: 0.5em;
  object-fit: cover;
}

.home-config .column-data-users-content .user-name {
  font-weight: bold;
  font-size: 1.1em;
}

.home-config .column-data-users-content .user-category {
  font-weight: normal;
  color: #e8e2de;
}

.home-config .column-data-users-content .user-type {
  font-weight: normal;
  color: #e8e2de;
}

.home-config .column-data-users-content .profile-see-all-views button,
.home-config .column-data-users-content .profile-see-all-views a {
  background: var(--secondary_color);
  border: 1px solid var(--secondary_color);
  border-radius: 2em;
  color: var(--white_color);
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.15em 1em;
  display: block;
}

.home-config .column-data-search-block-content {
  margin-bottom: 2em;
}

.home-config .column-data-search-block-content .flex-data {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
}

.home-config .column-data-search-block-content .content-search-block {
  width: calc(50% - 0.5em);
  margin: 0 0.5em 1em 0;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: space-between;
}

.home-config .column-data-search-block-content .search-block-thumbnail {
  height: 60%;
  width: 100%;
}

.home-config .column-data-search-block-content .search-block-thumbnail IMG {
  border-radius: 1em;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
  object-fit: cover;
}

.home-config .column-data-search-block-content .text-data-search-block P {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 95%;
}

.home-config .column-data-search-block-content .search-block-name P {
  margin: 0;
  font-weight: bold;
}

.home-config .column-data-search-block-content .search-block-category {
  font-weight: normal;
  color: #e8e2de;
}

.home-config .column-data-search-block-content .search-block-description {
  font-weight: normal;
  color: #e8e2de;
}

.home-config .column-data-search-block-content .search-block-type {
  font-weight: normal;
  color: #e8e2de;
}

.home-config .column-data-search-block-content .search-block-showsearch-description {}

.home-config .column-data-search-block-content .search-block-showsearch-input {}

.home-config .column-data-search-block-content .search-block-see-all-views button,
.home-config .column-data-search-block-content .search-block-see-all-views a {
  background: var(--secondary_color);
  border: 1px solid var(--secondary_color);
  border-radius: 2em;
  color: var(--white_color);
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.15em 1em;
  display: block;
}

/****************************************************************
 * profile-user-data
*****************************************************************/
.profile-user-content {
  background: url("https://cdn.qub3.com/rWIMU7wjeSEwwNbOIOhuvMLzOld_VDdlcrxoiVsLk2Y/rs:fill:1920:1080/sh:0.5/aHR0cHM6Ly9iZXFi/ZS1pbWFnZXMuczMu/ZnItcGFyLnNjdy5j/bG91ZC83N2RjOTE0/MS01NzZkLTQ3N2It/OThjZC0xYjAzODY0/OGVkYWNfd2ViX2Fy/dHBwbGlfMzAwMHgx/NTAwMC5qcGc") 50% -25em no-repeat #e8e2de;
  background-size: contain;
  position: relative;
  padding-top: 5em;
  padding-bottom: 5em;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2em 4vw 0em calc(18vw + 2vw);
}

.profile-user-content .left-data-user {
  width: 56vw;
}


.profile-user-content .profile-user-info {
  background: var(--white_color);
  border-radius: 1em;
  margin: 10em 1em 1em 1em;
  padding: 6em 3em 1em 3em;
  position: relative;
}

.profile-user-content .profile-user-info .thumbnail-user {
  top: -7em;
  position: absolute;
  width: 10em;
  height: 10em;
  left: calc(50% - 5em);
}

.profile-user-content .profile-user-info .thumbnail-user .p-button {
  position: absolute;
  bottom: 2em;
  left: 2em;
  background: rgba(255, 255, 255, 0.6);
}

.profile-user-content .profile-user-info .thumbnail-user .p-button:hover {
  background: rgba(255, 255, 255, 0.8);
}


.profile-user-content .profile-user-info .thumbnail-user IMG {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  padding: 0.15em;
  border: 4px solid var(--secondary_color);
  object-fit: cover;
}

.profile-user-content .profile-user-info .name-user {
  text-align: center;
}

.profile-user-content .profile-user-info .name-user H1 {
  font-weight: bold;
  font-size: 2.2em;
  margin: 0;
}

.profile-user-content .profile-user-info .name-user P.user-type {
  font-weight: normal;
  color: #e8e2de;
  margin-top: 0;
}

.profile-user-content .profile-user-info .description-user {
  text-align: center;
}

.profile-user-content .profile-user-info .social-profile-data UL {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  list-style-type: none;
}

.profile-user-content .profile-user-info .social-profile-data UL LI {
  border-right: 2px solid var(--black_color);
  padding: 0.3em 1.5em;
  margin: 0.5em 0;
}

.profile-user-content .profile-user-info .social-profile-data UL LI:first-child {
  padding-left: 0;
}

.profile-user-content .profile-user-info .social-profile-data UL LI:last-child {
  padding-right: 0;
  border-right: 0;
}

.profile-user-content .profile-user-info .social-profile-data UL LI P {
  margin: 0;
  color: #e8e2de;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.profile-user-content .profile-user-info .social-profile-data UL LI .value {
  font-size: 3em;
  font-weight: bold;
  color: var(--secondary_color);
}


.profile-user-content .profile-user-info .social-links {}

.profile-user-content .profile-user-info .social-links UL {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  list-style-type: none;
}

.profile-user-content .profile-user-info .social-links UL LI {
  margin: 0 0.5em;
}

.profile-user-content .profile-user-info .social-links UL LI IMG {
  width: 2em;
}

.profile-user-content .profile-user-info .social-links UL LI a:hover img {
  transform: scale(1.5);
  transition-duration: 0.3s;
}



.profile-user-content .create-qubes-content {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
}

.profile-user-content .create-qubes-content .create-qube,
.profile-user-content .create-qubes-content .create-post-qube {
  background: var(--white_color);
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  width: calc(50% - 2em);
  position: relative;
}

.profile-user-content .create-qubes-content .create-qube a,
.profile-user-content .create-qubes-content .create-qube button,
.profile-user-content .create-qubes-content .create-post-qube a,
.profile-user-content .create-qubes-content .create-post-qube button {
  position: absolute;
  right: 1em;
  border: 0;
  background: 0;
  padding: 0;
}

.profile-user-content .create-qubes-content .create-qube a img,
.profile-user-content .create-qubes-content .create-qube button img,
.profile-user-content .create-qubes-content .create-post-qube a img,
.profile-user-content .create-qubes-content .create-post-qube button img {
  width: 1.3em;
}

.profile-user-content .create-qubes-content .create-qube p,
.profile-user-content .create-qubes-content .create-post-qube p {
  margin-top: 0;
  margin-bottom: 0.5em;
}


.profile-user-content .my-activity {
  background: var(--white_color);
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}

.profile-user-content .my-qubes-highligtht {
  background: var(--white_color);
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}

.profile-user-content .my-qubes {
  background: var(--white_color);
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}

.profile-user-content .general-data-content {
  background: var(--white_color);
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}

.profile-user-content .general-data-content h3 {
  margin: 0 0 0.2em 0;
}

.profile-user-content .general-data-content p {
  margin: 0.3em 0;
}

.profile-user-content .general-data-content ul {
  margin: 0;
  padding: 0;
}

.profile-user-content .general-data-content ul li {
  display: flex;
  border-bottom: 1px solid #f0f0f0;
  padding: 1em 0;
}

.profile-user-content .general-data-content ul li:last-child {
  border-bottom: 0;
}

.profile-user-content .general-data-content .general-data-image {
  width: calc(5em + 2%);
}

.profile-user-content .general-data-content .general-data-image IMG {
  max-width: 5em;
  max-height: 5em;
  object-fit: cover;
  border-radius: 0.5em;
}

.profile-user-content .general-data-content .general-data-sort-text {
  white-space: pre;
}

/* .profile-user-content .general-data-content .general-data-long-text{
  
}
.profile-user-content .general-data-content .general-data-link {

} */


.profile-user-content .my-qubes-content {
  margin-bottom: 2em;
}

.profile-user-content .my-qubes-content .flex-data {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
}

.profile-user-content .my-qubes-content .my-qubes-data {
  width: calc(20% - 0.5em);
  margin: 0 0.5em 1em 0;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: space-between;
}

.profile-user-content .my-qubes-content .my-qubes-data .my-qubes-post {
  height: 70%;
  width: 100%;
}

.profile-user-content .my-qubes-content .my-qubes-data .my-qubes-post .my-qubes-post-image {
  height: 100%;
  width: 100%;
}

.profile-user-content .my-qubes-content .my-qubes-data .my-qubes-post img {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  object-fit: cover;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
}

.profile-user-content .my-qubes-content .my-qubes-data .my-qubes-post .my-qubes-post-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 0.8em;
}








.profile-user-content .my-qubes-content .my-qubes-thumbnail {
  height: 70%;
  width: 100%;
}

.profile-user-content .my-qubes-content .my-qubes-thumbnail IMG {
  border-radius: 1em;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
  object-fit: cover;
}


.profile-user-content .my-qubes-content .text-data-my-qubes {
  max-width: 95%;

}

.profile-user-content .my-qubes-content .text-data-my-qubes P {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile-user-content .my-qubes-content .my-qubes-name P {
  margin: 0;
  font-weight: bold;

}

.profile-user-content .my-qubes-content .my-qubes-category {
  font-weight: normal;
  color: #e8e2de;
}

.profile-user-content .my-qubes-content .my-qubes-description {
  font-weight: normal;
  color: #e8e2de;
}

.profile-user-content .my-qubes-content .my-qubes-type {
  font-weight: normal;
  color: #e8e2de;
}

.profile-user-content .my-qubes-content .my-qubes-showsearch-description {}

.profile-user-content .my-qubes-content .my-qubes-showsearch-input {}

.profile-user-content .my-qubes-content .my-qubes-see-all-views button,
.profile-user-content .my-qubes-content .my-qubes-see-all-views a {
  background: var(--secondary_color);
  border: 1px solid var(--secondary_color);
  border-radius: 2em;
  color: var(--white_color);
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.15em 1em;
  display: block;
}

.profile-user-content .right-data-user {
  width: 16vw;
  background: var(--white_color);
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  margin-top: 27em;
}

.right-data-user .other-users-content {}

.right-data-user .other-users-content .content-user {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 1em 0;
}

.right-data-user .other-users-content .content-user P {
  margin: 0;
}

.right-data-user .other-users-content .user-thumbnail IMG {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  padding: 0.15em;
  border: 4px solid var(--black_color);
  margin-right: 0.5em;
  object-fit: cover;
}

.right-data-user .other-users-content .user-name {
  font-weight: bold;
  font-size: 1.1em;
}

.right-data-user .other-users-content .user-category {
  font-weight: normal;
  color: #e8e2de;
}

.right-data-user .other-users-content .user-type {
  font-weight: normal;
  color: #e8e2de;
}

.right-data-user .other-users-content .profile-see-all-views button,
.right-data-user .other-users-content .profile-see-all-views a {
  background: var(--secondary_color);
  border: 1px solid var(--secondary_color);
  border-radius: 2em;
  color: var(--white_color);
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.15em 1em;
  display: block;
}

.right-data-user .column-data-search-block-content {
  margin-bottom: 2em;
}

.right-data-user .column-data-search-block-content .flex-data {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
}

.right-data-user .column-data-search-block-content .content-search-block {
  width: calc(50% - 0.5em);
  margin: 0 0.5em 1em 0;
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: space-between;
}

.right-data-user .column-data-search-block-content .search-block-thumbnail {
  height: 60%;
  width: 100%;
}

.right-data-user .column-data-search-block-content .search-block-thumbnail IMG {
  border-radius: 1em;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
  object-fit: cover;
}

.right-data-user .column-data-search-block-content .text-data-search-block P {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 95%;
}

.right-data-user .column-data-search-block-content .search-block-name P {
  margin: 0;
  font-weight: bold;
}

.right-data-user .column-data-search-block-content .search-block-category {
  font-weight: normal;
  color: #e8e2de;
}

.right-data-user .column-data-search-block-content .search-block-description {
  font-weight: normal;
  color: #e8e2de;
}

.right-data-user .column-data-search-block-content .search-block-type {
  font-weight: normal;
  color: #e8e2de;
}

.right-data-user .column-data-search-block-content .search-block-showsearch-description {}

.right-data-user .column-data-search-block-content .search-block-showsearch-input {}

.right-data-user .column-data-search-block-content .search-block-see-all-views button,
.right-data-user .column-data-search-block-content .search-block-see-all-views a {
  background: var(--secondary_color);
  border: 1px solid var(--secondary_color);
  border-radius: 2em;
  color: var(--white_color);
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.15em 1em;
  display: block;
}

.search-list {
  margin: 2em 4vw 0em 4vw;
}

/* Create qube-post */
.home-config .create-qube-post .post-qube.card {
  border: 10px solid var(--secondary_color);
  box-sizing: border-box;
  background: var(--white_color);
  border-radius: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.create-qube-post label {
  display: none;
}

.create-qube-post form input {
  border: 3px solid var(--black_color);
  border-radius: 1.5em;
  width: 23em;
}

.create-qube-post form textarea {
  border: 3px solid var(--black_color);
  border-radius: 1.5em;
  width: auto;
  font-size: var(--font_size_base, calc(0.6em + 0.6vw));
  min-height: 43px;
}

.create-qube-post form button,
.create-qube-post form button.p-button {
  background: var(--black_color);
  border-color: var(--black_color);
  font-size: 1.2em;
  padding: 0.35em 1.3em;
  border-radius: 3em;
  margin-right: 0.3em;
}

.create-qube-post form button.p-button.p-button-danger {
  background-color: #c02929;
  border-color: #c02929;
}

.create-qube-post form {
  display: flex;
}

.create-qube-post .multimedia-post-content {
  width: 100%
}

.create-qube-post .multimedia-post-content img {
  max-height: 35vh;
  width: 100%;
  object-fit: cover;
}

.quill-editor {
  border: 1px solid red;
}

.content-layout button.group-button {
  background: var(--secondary_color);
  border: 1px solid var(--secondary_color);
  border-radius: 2em;
  color: var(--white_color);
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.15em 1em;
  display: block;
  width: 100%;
}

.content-layout button.simple-go-up {
  background: var(--secondary_color);
  border: 1px solid var(--secondary_color);
  border-radius: 50%;
  color: var(--white_color);
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  opacity: .8;
}

.content-layout button.simple-go-up:hover {
  background: var(--tertiary_color);
  border: 1px solid var(--tertiary_color);
  opacity: 1;
}

.content-layout button.simple-go-up .p-button-icon {
  font-size: 1.25em;
}

/* Estilos para 
 */
/* form.form-container input, form.form-container select, form.form-container textarea */
.edit-general-data-list form.form-container input,
.edit-general-data-list form.form-container select,
.edit-general-data-list form.form-container textarea {
  width: 100%;
  border: 0;
  border-radius: 1em;
  font-size: 1.2rem;
}

.edit-general-data-list form.form-container input:focus-visible:focus,
.edit-general-data-list form.form-container select:focus-visible:focus,
.edit-general-data-list form.form-container textarea:focus-visible:focus {
  outline: 0px solid #000000;
  box-shadow: 0 0 0 0.15rem #000000;
  border: 0;
}

.edit-general-data-list .add-new-item .add-actions {
  margin-left: 1.3em;
}

.edit-general-data-list .add-new-item .create-item {
  border-radius: 1em;

}
