@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

header .header-container {
  background: var(--quaternary_background);
  color: var(--white_color)
}
header .header-container {
  /* background: linear-gradient(to bottom, #1d2044 0%, #7d7f96 88%); */
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding-left: 1em;
  /* background: linear-gradient(to bottom, rgba(29, 32, 68, 1) 0%, rgba(125, 127, 150, 0.6) 88%); */
  background: rgba(179, 182, 197, 0.9);
}

.footer-container {
  background: var(--quaternary_background);

}

.footer-container p{
  color: #2e336d;
  font-weight: 700;
  letter-spacing: .05em;
  font-size: 0.8em;
}
.footer-container ul{
  list-style-type: none;
  padding: 0;
  margin:0;
}
.footer-container .logo-footer{
  margin-left: 1em;
}
.footer-container A{
  color: #474852;
  font-size: 0.75em;
}
.footer-container A:hover{
  color: #d32071;
}

body {
  font-family: "Titillium Web", sans-serif;
  color: #808196
}

body .p-component {
  font-family: "Titillium Web", sans-serif;
}

h2 {
  font-weight: normal; 
}

.content-layout main {
  color: #808196;
  padding-top: 3em;
}


.card {
  border: 1px solid #babbcc;
  border-radius: 0;
  padding: 0 0 2em 0;
}


.card .card-header {
  padding: 0 1em;
}

.card .card-header h3 {
  font-weight: normal;
}

.card .card-img {}

.card .card-body {
  padding: 0 1em;
}

.card .card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

}

.card .card-footer a {
  color: #2e336d;
  text-decoration: underline;
  margin-bottom: 0.8em;
  display: block;
}

.card .card-footer a:hover {
  font-style: italic;
}

.p-carousel-items-content #pr_id_5 .p-carousel-item,
.p-carousel-items-content #pr_id_6 .p-carousel-item,
.p-carousel-items-content .p-carousel-item,
.p-carousel-items-content .p-carousel-item {
  flex: 0 0 20% !important;
}



@media screen and (max-width: 1440px) {

  .p-carousel-items-content .p-carousel-item,
  .p-carousel-items-content .p-carousel-item,
  .p-carousel-items-content .p-carousel-item,
  .p-carousel-items-content .p-carousel-item {
    flex: 0 0 20% !important;
  }
}

@media screen and (max-width: 1024px) {

  .p-carousel-items-content .p-carousel-item,
  .p-carousel-items-content .p-carousel-item,
  .p-carousel-items-content .p-carousel-item,
  .p-carousel-items-content .p-carousel-item {
    flex: 0 0 33.333333333333336% !important;
  }


}

@media screen and (max-width: 768px) {

  .p-carousel-items-content .p-carousel-item,
  .p-carousel-items-content .p-carousel-item,
  .p-carousel-items-content .p-carousel-item,
  .p-carousel-items-content .p-carousel-item {
    flex: 0 0 50% !important;
  }
}

@media screen and (max-width: 560px) {

  .p-carousel-items-content .p-carousel-item,
  .p-carousel-items-content .p-carousel-item,
  .p-carousel-items-content .p-carousel-item,
  .p-carousel-items-content .p-carousel-item {
    flex: 0 0 100% !important;
  }
}


.banner-home {
  margin: 0 -5vw 4em -5vw;
  height: 40vw;
  margin-top: -3em;
}

.banner-home img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.home-default h1 {
  text-align: center;
}
.home-default h2 {
  margin: 2em 3rem 2em 3rem;
  font-weight: normal;
  border-bottom: 1px solid #d32071;
}
.home-default .card-list {
  padding-bottom: 3em;
  margin-bottom: 3em;
}
.home-default .card-list {
  width: 100%;
  display: block;
}


.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: #ffffff;
}
