header .header-container .logotipo img {
  max-width: 6em;
  padding: 0.3em;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text ,
.p-menubar .p-menuitem-link .p-menuitem-text {
  text-transform: uppercase;
  color: var(--white_color)
}

.p-menubar .p-menubar-root-list .p-submenu-list>.p-menuitem>.p-menuitem-link .p-menuitem-text{
  color: #495057
}
.p-menubar .p-menubar-root-list .p-submenu-list>.p-menuitem>.p-menuitem-link .p-menuitem-text{
  color: #495057
}
.p-menubar .p-menubar-root-list .p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-text {
  color: #495057
}

.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-text, 
.p-menubar .p-menubar-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: #495057
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-submenu-icon,
.p-menubar .p-menuitem-link .p-submenu-icon {
  color: var(--white_color);
}

a {
  color: var(--quinary_text_color);
}
footer P{
  color: var(--white_color)
}
main {
  background: var(--primary_background)
}

.card-list .card {
  background: var(--white_color)
}
.card-list .card .card-header h2 {
  color: var(--primary_text_color)
}
h1 {
  color: var(--primary_text_color);
}